html {
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: Karma, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h2 {
  font-family: Oswald, sans-serif;
  color: #6f00e7;
  font-weight: bold;
  margin: 0;
}

p {
  margin: 0 0 1.5rem;
}

body {
  margin: 0;
}

ul {
  display: flex;
  margin: 0;
  padding-left: 0
}

ul a {
  display: flex;
  justify-content: start;
  align-items: center;
}

article {
  border: 3px solid #987ffa;
  border-radius: 6px;
  padding: .25rem;
  margin: .25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

article > img {
  max-width: 10em;
}

li {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

li:first-child {
  margin-right: auto;
}

li a {
  padding: .25em 1rem;
  margin: 0;
  text-decoration: none;
  align-items: center;
  border-radius: 3em;
}

li a.button {
  padding: .25rem;
  background-color: #6f00e7;
  margin: auto;
  font-weight: bold;
  padding: .5em 1.5em .7em;
}

div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

span {
  font-family: Oswald, serif;
  color: #fff;
}

ul li:first-child {
  margin-right: auto;
}
