html {
  box-sizing: border-box;
  font-family: Karma, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h2 {
  font-family: Oswald, sans-serif;
  color: #6f00e7;
  font-weight: bold;
  margin: 0;
  font-size: 2rem;
}

p {
  margin: 0 0 1.5rem;
  text-align: center;
  font-size: 1.4rem;
}

body {
  margin: 0;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul a {
  display: flex;
  justify-content: start;
  align-items: center;
}

article {
  border: 3px solid #987ffa;
  border-radius: 6px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

article > img {
  max-width: 15em;
  margin-bottom: 1.5rem;
}

li {
  padding: 0 .25rem;
}

li:first-child {
  margin-right: auto;
}

li a {
  padding: .25em 1rem;
  margin: 0;
  text-decoration: none;
  align-items: center;
  border-radius: 3em;
}

li a.button {
  background-color: #6f00e7;
  margin: auto;
  font-weight: bold;
  padding: .5em 1.5em .7em;
}

div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

span {
  font-family: Oswald, serif;
  color: #fff;
}

ul li:first-child {
  margin-right: auto;
}
